body{
    margin: auto;
    
    background: url('https://coolbackgrounds.io/images/backgrounds/blue/blue-trianglify-8e4a0501.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container, .checked {
    margin-top: 50px;
    background: white;
    border: 5px solid #ffffff;
    border-radius: 25px;
    /*height: 100vh;*/


}

.checked{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}


#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
  }
  
  #customers td:nth-child(even){background-color: #cddcf58e;}
  
  #customers tr:hover {background-color: #d6efc6;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #8ec5e8;
    color: white;
  }

  button{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border-color: white;
    background-color: white;
  }
  
  button:hover{
    background-color: rgb(229, 70, 70);
  
  }

  h2{
  font-size: 35px;
  color: #9d9fa0;
  margin-bottom: 48px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  input[type=checkbox]{
    
     display: inline-block;
    width: 32px;
    height: 25px;
    color: #8ec5e8;
    cursor: pointer;
 
        }
      
        input[type="checkbox"] { 
          filter: invert(20%) hue-rotate(18deg) brightness(1.7);
        }